
body {
	margin: 0px;
}



@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
nav {
	background: rgb(9,105,101);
background: radial-gradient(circle, rgba(9,105,101,1) 53%, rgba(13,68,117,1) 79%, rgba(29,97,191,1) 100%);
	padding: 30px;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	position: fixed;
	width: calc(100% - 60px);
	left: 0px;
	top: 0px;

}

nav img {
	border-radius: 50%;
	height: 80px; 
	
}

nav ul {
	list-style-type: none; 
	display: flex;
	justify-content: flex-end; 
	align-items: center;
	
}

nav ul li a {
	margin: 15px;
	padding: 20px;
	background-color: steelblue;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-family: "Send Flowers";
}


nav ul li a:hover {
	background-color: lightblue;
	color: black;
}

/* Main */
main {
	padding: 100px;
	margin-top: 100px;
	color: white;

}

main h1 {
	font-size: 50px;
	text-align: center;
	color: black;
}

p {
	line-height: 1.5;
	column-count: 2;
	font-size: 20px;

}

/* Background Div */
#background {
	width: 100vw;
	height: 100vh;
	background-image: url("background.jpg");
	background-position: center;
	background-size: cover;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -10;
}