@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
	margin: 0px;
}



nav {
	background: rgb(161,82,176);
	background: radial-gradient(circle, rgba(161,82,176,1) 38%, rgba(252,70,107,1) 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;


}


nav img {
	height: 80px;
	border-radius: 50%;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

nav ul li a {
	margin: 15px;
	padding: 20px;
	background-color: lightcoral;
	text-decoration: none;
	color: black;
	border-radius: 20px;
	font-family: "Pacifico";


}

nav ul li a:hover {
	background-color: lightpink;
	color: black;
}

