
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');




nav {
	background: rgb(250,133,163);
	background: radial-gradient(circle, rgba(250,133,163,1) 0%, rgba(0,0,0,1) 100%);
	padding: 20px 0;
	margin: auto;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	width: 100%;
	position: fixed; 
	top: 0%;
	left: 0%;
	z-index: 10;
}

nav img {
	border-radius: 50%;
	height: 170px; 
	width: 170px;
	animation-name: rotate;
	animation-duration: 3s;
}


@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;

}

nav ul li a{
	text-decoration: none;
	color: white;
	font-family:"Patrick Hand";
	font-size: 25px;


}

nav ul li::after{
	height: 3px;
	content: '';
	width: 0%;
	background-color: pink;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

nav ul li:hover::after {
	width: 100%;
}


header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url("mainphoto.jpg");
	background-position: center;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: ;
}

header h1 {
	border: radius;
	background-color: rgb(255,255,255,0.7); 
	text-align: center;
	font-family:  "Patrick Hand SC";
	font-size: 40px;
	letter-spacing: 3px;
	position: relative;
	animation: slide 2s ease-in-out;

	
}

@keyframes slide {
	0% {
		left: -100%;
	}
	50% {
	}
	100% {
		left: 0;
	}
}

header p {
	border: radius;
	background-color: rgb(255,255,255,0.7); 
	text-align: center;
	font-family:  "Patrick Hand";
	font-size: 20px;
	margin-top: 200px;

}

footer {
	margin: 0px; 
	padding: 30px;
	display: flex;
	justify-content: space-between; 
	text-align: center;
	font-size: 25px; 
	color: white;
	background: rgb(250,133,163);
	background: radial-gradient(circle, rgba(250,133,163,1) 0%, rgba(0,0,0,1) 100%);
	font-family: "Patrick Hand";

}

.basics {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(201, 177, 188);
}

.basics2 {
	border: 1px solid black;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
}

.basics2 h1 {
	text-align: center;
	font-family: "Patrick Hand SC";
	font-size: 30px;
}

.basics2 p {
	text-align: center;
	font-family: "Patrick Hand";
	font-size: 17px
}

.container {
	margin-top: 220px;
	display: grid;
	grid-template-columns: 250px 1fr auto;
	grid-template-rows:  150px 200px 350px;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	height: 100vh;
}

.container div {
	padding: 10px;
	border: 1px solid #ffabc8;
	border-width: thin medium thick 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	grid-column-start: 1;
	grid-column-end: 3;
	background-image: url("abstract2.jpg");
	background-position: center;
	background-size: cover;
}

.logoplace {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #edd8e1;
}

.logoplace img {
	height: 170px; 
	width: 170px;
}

.logoplace img:hover {
	transform: scale(1.1,1.1);
}


.exercise {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
}

.losung {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
}

.title h1 {
 	font-family: "Itim";
 	font-size: 30px;
 	color: #8c0341;
 	animation:  transparent 2s ease-in-out;

}

@keyframes transparent {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title img {
	height: 180px;
	width:  180px;
	margin-top: 30px;

}

.title img:hover {
	animation: bounce 2s;
	transition-timing-function: ease;
	position: relative;
}

@keyframes bounce {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}


}

.title2 {
	grid-column-start: 1;
	grid-column-end: 3;
	background-image: url("abstract2.jpg");
	background-position: center;
	background-size: cover;
}

.title2 h1 {
	font-family: "Itim";
 	font-size: 30px;
 	color: #8c0341;
 	animation:  transparent 2s ease-in-out;
}

.title2 img {
	height: 180px;
	width:  180px;
	margin-top: 30px;

}

.title2 img:hover {
	animation: bounce 2s;
	transition-timing-function: ease;
}

.logoplace2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #edd8e1;
}

.logoplace2 img {
	height: 200px; 
	width: 200px;
}

.logoplace2 img:hover {
	transform: scale(1.1,1.1);
}


.title3 {
	grid-column-start: 1;
	grid-column-end: 3;
	background-image: url("abstract2.jpg");
	background-position: center;
	background-size: cover;
}

.title3 h1 {
	font-family: "Itim";
 	font-size: 30px;
 	color: #8c0341;
 	animation:  transparent 2s ease-in-out;
}

.title3 img {
	height: 180px;
	width:  180px;
	margin-top: 30px;

}

.title3 img:hover {
	animation: bounce 2s;
	transition-timing-function: ease;
}

.logoplace3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #edd8e1;
}

.logoplace3 img {
	height: 230px; 
	width: 230px;
}

.logoplace3 img:hover {
	transform: scale(1.1,1.1);
}

@media (max-width: 600px) {
	nav ul li  {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	header {
		margin-top: 20px;
	}

	header h1 {
		margin-left: 100px;
	}

	header p {
		margin-right: 40px;
	}

	.basics2 {
		width: 400px;
	}

	.container {
	margin-top: 220px;
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows:  100px 200px auto;
	gap: 7px;
	padding: 5px;
	box-sizing: border-box;
	height: 100vh;
}

.title {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.logoplace {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}


.title img {
	height: 120px;
	width: 120px;
	margin-bottom: 20px;
}


.logoplace img {
	height: 80px;
	width: 80px;
}

.exercise {
	grid-column-start: 1;
	grid-column-end: 3;
}

.losung {
	grid-column-start: 1;
	grid-column-end: 3;
}

.title2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.logoplace2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}


.title2 img {
	height: 120px;
	width: 120px;
	margin-bottom: 20px;
}


.logoplace2 img {
	height: 80px;
	width: 80px;
}

.title3 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.logoplace3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}


.title3 img {
	height: 120px;
	width: 120px;
	margin-bottom: 20px;
}


.logoplace3 img {
	height: 80px;
	width: 80px;
}


}

body {
	margin: 0;
	min-height: 100vh;
	
}