<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
		<img src="logo.png">
	<ul>
		<li><a href="index.html">Project</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="contact.html">Contact</a>
	</ul>
</nav>

<section> 
	<div class="foto">
		<img src="hous1.jpg"><p>Summer House</p>
	</div>

	<div class="foto">
		<img src="hous2.jpg"><p>Summer House</p>
	</div>
	
	<div class="foto">
		<img src="hous3.jpg"><p>Summer House</p>
	</div>
	
	<div class="foto">
		<img src="hous4.jpg"><p>Summer House</p>
	</div>
	
	<div class="foto">
		<img src="hous5.jpg"><p>Summer House</p>
	</div>
	
	<div class="foto">
		<img src="hous6.jpg"><p>Summer House</p>
	</div>
	
	<div class="foto">
		<img src="hous7.jpg"><p>Summer House</p>
	</div>
	
	<div class="foto">
		<img src="hous8.jpg"><p>Summer House</p>
	</div>
	
	
</section>

<main>
	<h1>About</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus odio ante, gravida vitae sagittis sed, maximus et augue. Pellentesque scelerisque, felis in facilisis fermentum, magna metus convallis eros, eget sodales lacus justo id ligula. Donec feugiat porttitor nunc sed ultricies. Fusce hendrerit in sem in eleifend. Sed nec consectetur magna, nec posuere arcu. Sed et nisi in libero laoreet fringilla in in sem. Etiam accumsan in quam nec eleifend.Vivamus eget lectus leo. Praesent vel ligula sed nunc fermentum eleifend vel in risus. Suspendisse nec consectetur ex. Fusce id neque sed dolor pulvinar condimentum. </p>
</main>

<article>
		
		<div class="image">
			

		</div>
		<div class="text">

			
			
				<h1>Peisage</h1>
				<h2>Beauty of Nature</h2>
				<p>Vestibulum nec enim vestibulum, pretium sapien et, malesuada purus. Praesent fermentum diam turpis, in interdum nulla gravida a. Sed tristique eget massa et vehicula.</p>

			<p class="one">Contact</p>
		
		</div>
	</article>


</body>
</html>